In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('12211-9004_flat.csv',
                usecols=['Zeit', '1_Auspraegung_Label', 'ERW002__Erwerbstaetige__1000'])

df.head()

      Zeit 1_Auspraegung_Label  ERW002__Erwerbstaetige__1000
0  04/1991   Baden-Württemberg                          4831
1  04/1991              Bayern                          5821
2  04/1991              Berlin                          1689
3  04/1991         Brandenburg                          1270
4  04/1991              Bremen                           287

In [3]:
df = df.rename(columns={'Zeit' : 'Zeit', 
                        '1_Auspraegung_Label' : 'Bundesland',
                        'ERW002__Erwerbstaetige__1000' : 'Erwerbstaetige'})
df.Erwerbstaetige = df.Erwerbstaetige * 1000
df.head()

      Zeit         Bundesland  Erwerbstaetige
0  04/1991  Baden-Württemberg         4831000
1  04/1991             Bayern         5821000
2  04/1991             Berlin         1689000
3  04/1991        Brandenburg         1270000
4  04/1991             Bremen          287000

In [4]:
df['Jahr'] = df.Zeit.str[-4:].astype(int)
df = df[['Jahr', 'Bundesland', 'Erwerbstaetige']]

df.head()

   Jahr         Bundesland  Erwerbstaetige
0  1991  Baden-Württemberg         4831000
1  1991             Bayern         5821000
2  1991             Berlin         1689000
3  1991        Brandenburg         1270000
4  1991             Bremen          287000

In [5]:
df.groupby('Jahr').sum().plot()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.